<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>You are signed UP</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../getValues.js"></script>
    <script src="../newUser.js"></script>
    <script src="../bower_components/axios/dist/axios.js"></script>
    <!-- <script src="bower_components/angular-route/angular-route.js"></script> -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
</head>

<body>
    <h1>Hi, You are signed up now!</h1>
</body>

</html>